[Unit]
Description=selenium_tools
After=default.target

[Service]
Type=idle
WorkingDirectory=/home/pi/selenium_tools
ExecStart=/home/pi/selenium_tools/.venv/bin/python app.py
Restart=on-failure

[Install]
WantedBy=default.target
